@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-left">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Este é um sistema de controle e gerenciamento de usuários.</p>
</div>

<div class="m-3">
    
    <div class="row">

        <div class="col rounded p-3 m-3 bg-light">
            <h3>
                @ViewBag.QntUsuarios
                <small class="text-muted">Usuários</small>
            </h3>
        </div>

        <div class="col rounded p-3 m-3 bg-light" ">
            <h3>
                @ViewBag.QntTipoUsuarios
                <small class="text-muted">Tipos de usuários</small>
            </h3>
        </div>

        <div class="col rounded p-3 m-3 bg-light">
            <h3>
                @ViewBag.QntMovimentacao
                <small class="text-muted">Movimentações</small>
            </h3>
        </div>

    </div>

</div>
